{{> head }}
  {{> navbar }}

	{{!-- <div class="row"> --}}
		<div class="col">
			<h1>Dexter</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellendus iusto perspiciatis nemo dolor est, harum incidunt cupiditate delectus odit aspernatur voluptatem distinctio, a alias, quae accusamus at! Mollitia, repellendus!
			</p>
		</div>

		<div class="col">

			<img src="assets/img/dx.png" alt="Dexter" class="img-thumbnail" width="50%" height="50%">

		</div>

	{{!-- </div> --}}



{{> footer }}